.container {
  /* min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.main {
  /* padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.topPanel {
  padding-top: 90px;
  background: url(images/bg_panel_stripe_blk_50.png) center center repeat;
  text-align: center;
}

section.facebook {
  background: url(images/bg_panel_grey50.png) center center repeat;
}

.facebook h2 {
  font-size: 2.7em;
  line-height: 3em;
  line-height: 1.2em;
  word-spacing: 0.1em;
  color: #ccc;
  margin-bottom: 1em;
  font-weight: 500;
}

.facebook p.desc {
  margin: 1em auto;
  display: block;
  width: 75%;
  font-family: "bebasregular", Arial, sans-serif;
  font-size: 1.7em;
  line-height: 1.4em;
  letter-spacing: 1px;
  word-spacing: 0.1em;
  color: #256cb2;
  font-weight: 100;
  text-transform: uppercase;
}

.join_us {
  position: relative;
  display: inline-block;
  font-family: "bebasregular", Arial, sans-serif;
  font-size: 1.3em;
  color: #111;
  letter-spacing: 1px;
  word-spacing: 0.1em;
  text-align: right;
  margin-bottom: 1.5em;
  padding: 0.7em 0.5em 0.5em 0.5em;
  border: 0px;
  text-decoration: none;
  font-weight: 100;
  background: #aaa;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.join_us:hover {
  font-size: 1.5em;
}
.join_us img {
  height: 1.2em;
  vertical-align: -0.15em;
  margin-right: 4px;
}
.join_us label {
  vertical-align: middle;
  margin-left: 5px;
}

.aboutUs {
  position: relative;
  background: #4f4f4f;

  background: -webkit-radial-gradient(
    circle,
    #20232d,
    #1d1e20
  ); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(
    circle,
    #20232d,
    #1d1e20
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(
    circle,
    #20232d,
    #1d1e20
  ); /* For Firefox 3.6 to 15 */
  background: radial-gradient(
    circle,
    #20232d,
    #1d1e20
  ); /* Standard syntax, android  */
}

.aboutUs p {
  margin: 1em auto;
  font-family: "robotolight", Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #ffffff;
  text-align: left;
  word-spacing: 1px;
}

.aboutUs p:last-child {
  margin: 1.5em 0 0;
  font-size: 1.3em;
}

/* About Us */
.aboutUsBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(images/l_rafin_bk.png) no-repeat bottom right;
  background-size: contain;
  z-index: 1;
}

.aboutUsInfo {
  margin: 0 auto;
  padding: 0px 5px 0px 5px;
  width: 48%;
  margin-left: 1%;
  position: relative;
  z-index: 2;
}

@media (max-width: 800px) {
  .aboutUsInfo {
    width: 80%;
  }
}

/* Location */

.location {
  background: -webkit-linear-gradient(
    0deg,
    #fbfbfb,
    #dddddd
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    0deg,
    #fbfbfb,
    #dddddd
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    0deg,
    #fbfbfb,
    #dddddd
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    270deg,
    #fbfbfb,
    #dddddd
  ); /* Standard syntax, android  */
}

.location h2 {
  color: #1a1f1b;
}

.location h3 {
  text-align: left;
  font-size: 2.7em;
  color: #666;
  line-height: 1.3em;
  margin: 0.5em 0 0.1em;
}

.location P {
  color: #111;
}

.locationMaps {
  display: flex;
  flex-direction: row;
}

.locationMaps > div {
  width: 48%;
}

.location iframe {
  border: 0;
  width: 90%;
  height: 250px;
}

.gallery {
  color: #fff;
  background: #4f4f4f;
  position: relative;

  background: -webkit-radial-gradient(
    circle,
    #20232d,
    #1d1e20
  ); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(
    circle,
    #20232d,
    #1d1e20
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(
    circle,
    #20232d,
    #1d1e20
  ); /* For Firefox 3.6 to 15 */
  background: radial-gradient(
    circle,
    #20232d,
    #1d1e20
  ); /* Standard syntax, android  */
}

.gallery p {
  font-family: "robotolight", Arial, sans-serif;
  font-size: 1.2em;
  word-spacing: 1px;
}

.faq {
  background: #414141 url(images/bg_faq.jpg) center center repeat;
  color: #fff;
  font-family: "robotolight", Arial, sans-serif;
}

.faq h3 {
  width: 75%;
  font-family: "bebasregular", Arial, sans-serif;
  font-size: 1.7em;
  line-height: 1.4em;
  letter-spacing: 1px;
  word-spacing: 0.1em;
  color: #5aa1b7;
  text-align: left;
  padding: 10px 0 0;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}

.cols2 {
  display: flex;
}
.cols2 > div {
  width: 50%;
  padding: 20px;
}
